DNSSEC Key Size

It seems that zonemaster does not check the RSA key size yet. RFC 5072 states:

>    For interoperability, as in [RFC3110], the key size of RSA/SHA-256
>    keys MUST NOT be less than 512 bits and MUST NOT be more than 4096
>    bits.

for example key.seckle.ch uses an RSA key size of 4104 bits and zonemaster does not issue a WARNING about this.

====
Comment 2019-06-28: Correct RFC is [RFC 5702](https://tools.ietf.org/html/rfc5702#section-2). /@matsduf

TC to be created @sandoche2k @matsduf 

PR zonemaster/zonemaster#783 is the first step to solve this issue.

@matsduf  PR approved, I start the implementation.

New TC created by zonemaster/zonemaster#494. For implementation of TC refer to #584.