Possible false positive in DNSSEC09 for yoctodns.com

There seems to be a false positive in `DNSSEC09`.

For `yoctodns.com`, Zonemaster reports:

`The SOA RRset is signed with an RRSIG with tag 55647 which cannot be validated by the matching DNSKEY.`

From the DNSSEC09 spec, `DS09_RRSIG_NOT_VALID_BY_DNSKEY` should only be emitted if the SOA RRSIG cannot be validated by the matching DNSKEY.

The live zone data looks consistent though. For example:

- `dig +dnssec soa yoctodns.com @136.144.213.19`
- `dig +dnssec dnskey yoctodns.com @136.144.213.19`

These return:
- an `RRSIG(SOA)` with key tag `55647`
- a matching `DNSKEY` with key tag `55647`
- algorithm `13` (`ECDSAP256SHA256`)
- a validity window from `2026-01-16 02:50:41 UTC` to `2026-07-15 02:50:41 UTC`

I also checked the other authoritative IPs and got the same SOA/DNSKEY/RRSIG set.

Independent verification of the SOA RRset against the matching DNSKEY succeeds, so I would expect `DNSSEC09` not to emit `DS09_RRSIG_NOT_VALID_BY_DNSKEY` here.

Also, the missing DS at the parent should not affect this testcase, since `DNSSEC09` is about validating the child zone’s SOA RRset against the child zone’s matching DNSKEY, not about chain-of-trust to the parent.

Because of that, this looks like a false positive, possibly in the `verify_time()` / `Zonemaster::LDNS` path rather than in the DNSSEC09 testcase logic itself.

If I’m missing something, I’d be very interested to know what exactly makes this RRSIG invalid from Zonemaster’s point of view.

Thank you for your report. We will investigate.

Test result with the error report: https://zonemaster.se/en/result/9082fcd788bb11ed/

I’ve just run a test on `yoctodns.com` and I am no longer able to reproduce the problem: https://zonemaster.fr/en/result/43d71b3ced45d16b/

It seems that the signature of the SOA RRSet of `yoctodns.com` has changed, because its validity window is now from 2026-03-10T15:34:14Z to 2026-09-06T15:34:14Z. Same goes for the DNSKEY RRset.

Do you happen to have an older version of the zone with the signatures that caused the problem?

> I’ve just run a test on `yoctodns.com` and I am no longer able to reproduce the problem: https://zonemaster.fr/en/result/43d71b3ced45d16b/
> 
> It seems that the signature of the SOA RRSet of `yoctodns.com` has changed, because its validity window is now from 2026-03-10T15:34:14Z to 2026-09-06T15:34:14Z. Same goes for the DNSKEY RRset.
> 
> Do you happen to have an older version of the zone with the signatures that caused the problem?

No. Does not the Zonemaster backend server record this?

Only the result messages that you can see from https://zonemaster.se/en/result/9082fcd788bb11ed/

No, unfortunately the backend does not save the response packets anywhere after a test ends.

BUT! Luckily for me, I’ve found the packets we need in my tmux scrollback buffer. I’m saving them here before they disappear into oblivion…

```
$ dig +dnssec @ns2.yoctodns.com SOA yoctodns.com

; <<>> DiG 9.18.39-0ubuntu0.22.04.2-Ubuntu <<>> +dnssec @ns2.yoctodns.com SOA yoctodns.com
; (2 servers found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 18912
;; flags: qr aa rd; QUERY: 1, ANSWER: 2, AUTHORITY: 5, ADDITIONAL: 9
;; WARNING: recursion requested but not available

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags: do; udp: 4096
; NSID: 59 6f 63 74 6f 20 4f 6e 6f 6d 61 20 44 4e 53 ("Yocto Onoma DNS")
;; QUESTION SECTION:
;yoctodns.com.                  IN      SOA

;; ANSWER SECTION:
yoctodns.com.           3600    IN      SOA     ns1.yoctodns.com. hostmaster.yoctodns.com. 2022072800 14400 3600 1209600 3600
yoctodns.com.           3600    IN      RRSIG   SOA 13 2 3600 20260715025041 20260116025041 55647 yoctodns.com. ielh5paHuDSB0xh7JMqb5pqwUDUz8If
h14Nh2f43CsSGrBw0ykim2c/i Jo7YwDyL9+p7oj7XGOWlE7ezXV1y

;; AUTHORITY SECTION:
yoctodns.com.           3600    IN      NS      ns1.yoctodns.com.
yoctodns.com.           3600    IN      NS      ns2.yoctodns.com.
yoctodns.com.           3600    IN      NS      ns3.yoctodns.com.
yoctodns.com.           3600    IN      NS      ns4.yoctodns.com.
yoctodns.com.           3600    IN      RRSIG   NS 13 2 3600 20260715025041 20260116025041 55647 yoctodns.com. IruBmkKCXNWx/zjrgOXQIPeOTrIRmE3x
utgV+WEOLxjza9d/rIkGoBBc nyWlhG6VI9qD12lfSoMm/mlsXu0n3Q==

;; ADDITIONAL SECTION:
ns1.yoctodns.com.       3600    IN      A       136.144.213.19
ns1.yoctodns.com.       3600    IN      AAAA    2a01:7c8:d002:313::1
ns2.yoctodns.com.       3600    IN      A       136.144.225.232
ns2.yoctodns.com.       3600    IN      AAAA    2a01:7c8:d004:18d::1
ns3.yoctodns.com.       3600    IN      A       37.97.226.189
ns3.yoctodns.com.       3600    IN      AAAA    2a01:7c8:fffd:214::1
ns4.yoctodns.com.       3600    IN      A       136.144.154.49
ns4.yoctodns.com.       3600    IN      AAAA    2a01:7c8:fff7:86::1

;; Query time: 24 msec
;; SERVER: 2a01:7c8:d004:18d::1#53(ns2.yoctodns.com) (UDP)
;; WHEN: Tue Mar 10 15:37:49 CET 2026
;; MSG SIZE  rcvd: 858
```

```
$ dig +dnssec @ns2.yoctodns.com DNSKEY yoctodns.com                                                                  

; <<>> DiG 9.18.39-0ubuntu0.22.04.2-Ubuntu <<>> +dnssec @ns2.yoctodns.com DNSKEY yoctodns.com
; (2 servers found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 2176
;; flags: qr aa rd; QUERY: 1, ANSWER: 2, AUTHORITY: 5, ADDITIONAL: 9
;; WARNING: recursion requested but not available

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags: do; udp: 4096
; NSID: 59 6f 63 74 6f 20 4f 6e 6f 6d 61 20 44 4e 53 ("Yocto Onoma DNS")
;; QUESTION SECTION:
;yoctodns.com.                  IN      DNSKEY

;; ANSWER SECTION:
yoctodns.com.           3600    IN      DNSKEY  256 3 13 GojIhhXUN/u4v54ZQqGSnyhWJwaubCvTmeexv7bR6edbkrSqQpF64cYb cB7wNcP+e+MAnLr+Wi9xMWyQLc8NA
A==
yoctodns.com.           3600    IN      RRSIG   DNSKEY 13 2 3600 20260715025041 20260116025041 55647 yoctodns.com. zVXpfsH4hgq8rR7fkx7XNWhdI3sP
KpejD0DE4vOrmdc62FnivC3+0/hv 7CcMeB2K7iOVs3clPkdhPTJtBDViVw==

;; AUTHORITY SECTION:
yoctodns.com.           3600    IN      NS      ns1.yoctodns.com.
yoctodns.com.           3600    IN      NS      ns2.yoctodns.com.
yoctodns.com.           3600    IN      NS      ns3.yoctodns.com.
yoctodns.com.           3600    IN      NS      ns4.yoctodns.com.
yoctodns.com.           3600    IN      RRSIG   NS 13 2 3600 20260715025041 20260116025041 55647 yoctodns.com. IruBmkKCXNWx/zjrgOXQIPeOTrIRmE3x
utgV+WEOLxjza9d/rIkGoBBc nyWlhG6VI9qD12lfSoMm/mlsXu0n3Q==

;; ADDITIONAL SECTION:
ns1.yoctodns.com.       3600    IN      A       136.144.213.19
ns1.yoctodns.com.       3600    IN      AAAA    2a01:7c8:d002:313::1
ns2.yoctodns.com.       3600    IN      A       136.144.225.232
ns2.yoctodns.com.       3600    IN      AAAA    2a01:7c8:d004:18d::1
ns3.yoctodns.com.       3600    IN      A       37.97.226.189
ns3.yoctodns.com.       3600    IN      AAAA    2a01:7c8:fffd:214::1
ns4.yoctodns.com.       3600    IN      A       136.144.154.49
ns4.yoctodns.com.       3600    IN      AAAA    2a01:7c8:fff7:86::1

;; Query time: 124 msec
;; SERVER: 2a01:7c8:d004:18d::1#53(ns2.yoctodns.com) (UDP)
;; WHEN: Tue Mar 10 15:40:28 CET 2026
;; MSG SIZE  rcvd: 864
```


Meanwhile, I’ve had a look at the code in Zonemaster::LDNS. The `Zonemaster::LDNS::RR::RRSIG->verify_time` method is just a wrapper for `ldns_verify_time` in LDNS.

I was able to reproduce the bug using [this script](https://github.com/user-attachments/files/26028917/bug.pl.txt). I get the following output:
```
$ ./bug.pl
1..2
ok 1 - Newer version of yoctodns.com/SOA validates
not ok 2 - Older version of yoctodns.com/SOA validates
#   Failed test 'Older version of yoctodns.com/SOA validates'
#   at ./bug.pl line 36.
# Checking signature failed with reason: General memory error
# Looks like you failed 1 test of 2.
```

The second RRset fails verification due to a “General memory error”. ~~This could be a problem either with Zonemaster::LDNS or with LDNS itself.~~ (This is actually a red herring.)

> The second RRset fails verification due to a “General memory error”. This could be a problem either with Zonemaster::LDNS or with LDNS itself.

**TL;DR**: Zonemaster was actually right: the signature was bad, but the “General memory error” by LDNS was a red herring.

First, I noticed that the signature field of the SOA RRSet’s RRSIG is only 63 bytes long, while signatures generated using algorithm 13 should be 64 bytes long instead. As evidenced here:
```perl
use Zonemaster::LDNS;
use v5.10;

my $rr = Zonemaster::LDNS::RR->new("" .
"yoctodns.com.           3600    IN      RRSIG   SOA 13 2 3600 (
    20260715025041 20260116025041 55647 yoctodns.com.
    ielh5paHuDSB0xh7JMqb5pqwUDUz8If
    h14Nh2f43CsSGrBw0ykim2c/i Jo7YwDyL9+p7oj7XGOWlE7ezXV1y )");

say length($rr->signature); # Prints “63”
```

So, it turns out that Zonemaster was right to say that the signature is bad, because it was malformed.

Now, what’s the cause of the malformed signature? According to [RFC 6605, Section 4](https://www.rfc-editor.org/rfc/rfc6605.html#section-4), ECDSA signatures are the concatenation of two 256-bit integers, called “r” and “s” in FIPS 186-3. Basically, these integers are expected to be in network byte order.

After some experimentation, I actually managed to fix the signature to get the SOA RRset to validate again. In that signature, _r_ is less than 2<sup>248</sup>, meaning that its bitstring representation fits in 248 bits (31 bytes) instead of 256 bits (32 bytes). It should have been expanded to 32 bytes before concatenation with _s_, but wasn’t, leading to the bad signature.

We can actually fix the signature, for example by using Elixir:
```
$ iex
Erlang/OTP 28 [erts-16.1] [source] [64-bit] [smp:4:4] [ds:4:4:10] [async-threads:1] [jit:ns]

Interactive Elixir (1.19.5) - press Ctrl+C to exit (type h() ENTER for help)
iex(1)> bad_rrsig = "ielh5paHuDSB0xh7JMqb5pqwUDUz8Ifh14Nh2f43CsSGrBw0ykim2c/iJo7YwDyL9+p7oj7XGOWlE7ezXV1y";
"ielh5paHuDSB0xh7JMqb5pqwUDUz8Ifh14Nh2f43CsSGrBw0ykim2c/iJo7YwDyL9+p7oj7XGOWlE7ezXV1y"
iex(2)> {:ok, <<r::248, s::256>>} = Base.decode64(bad_rrsig)
{:ok,
 <<137, 233, 97, 230, 150, 135, 184, 52, 129, 211, 24, 123, 36, 202, 155, 230,
   154, 176, 80, 53, 51, 240, 135, 225, 215, 131, 97, 217, 254, 55, 10, 196,
   134, 172, 28, 52, 202, 72, 166, 217, 207, 226, 38, 142, 216, 192, 60, 139,
   247, 234, 123, 162, 62, 215, 24, 229, 165, 19, 183, 179, 93, 93, 114>>}
iex(3)> fixed_rrsig = Base.encode64(<<r::256, s::256>>)
"AInpYeaWh7g0gdMYeyTKm+aasFA1M/CH4deDYdn+NwrEhqwcNMpIptnP4iaO2MA8i/fqe6I+1xjlpRO3s11dcg=="
```

Then, if you edit the Perl script in my previous comment and replace the failing RRSIG’s signature field with the base64 string above, the SOA RRset validates and the failing test passes.

We’ve established that the RRSIG was indeed bad, that Zonemaster was right but LDNS gave a somewhat confusing error code for the specific situation at hand, and with a PR opened against ldns, I believe we can close this issue.