Y2038 bug when checking DNSSEC signature expiration

Apparently, in `lib/Zonemaster/Engine/Test/DNSSEC.pm`, Zonemaster checks the possible expiration of DNSSEC signatures by [just a regular "lower than" operator](https://github.com/zonemaster/zonemaster-engine/blob/master/lib/Zonemaster/Engine/Test/DNSSEC.pm#L2147). If this is indeed the case, it is a [Y2038 bug]([url](https://en.wikipedia.org/wiki/Year_2038_problem)). RFC 4034, section 3.1.5, says "all comparisons involving these fields [inception and expiration] MUST use "Serial number arithmetic", as defined in RFC1982".
It seems there is fifteen years to address that.


@bortzmeyer, thank you for pointing that out. We should fix that well ahead of the time limit.

> If this is indeed the case, it is a Y2038 bug.

I can't see any restriction on how to compare the time in the [DNSSEC08 specification](
https://github.com/zonemaster/zonemaster/blob/master/docs/public/specifications/tests/DNSSEC-TP/dnssec08.md). So I think it is indeed a regular comparison.

It seems LDNS can handle such [serial arithmetic comparison](https://github.com/NLnetLabs/ldns/blob/26333cc5673f0bddb865be52a802c915ab1ca9f4/ldns/util.h.in#L275-L289). Maybe we could rely on that.